snippet eco
	<?php echo $${1:var} ?>
snippet els
	<?php else: ?>
snippet endif
	<?php endif; ?>
snippet fore
	<?php foreach (${1:var} as ${2:value}): ?>
		${3:code}
	<?php endforeach; ?>
snippet if
	<?php if (${1:condition}): ?>
		${2:code}
	<?php endif; ?>
snippet ifels
	<?php if (${1:condition}): ?>
		${2:code}
	<?php else: ?>
		${3:code}
	<?php endif; ?>
